*{
    margin: 0;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(5,15%);
    gap: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;


}
.post-card{
    background-color: lightblue;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;

}

